# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* Common used libraries for Data Science
* Data Science Tools
* Examples of arithmetic expression in Python

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. JavaScript

Some of the commonly used libraries used by Data Scientists include: 
1. NumPy
2. ggplot2
3. TensorFlow

| Data Science Tools |
|---|
| R Studio|
| Apache Spark |
| Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60

x = 200 / 60
print (str(x) + " Hours")

3.3333333333333335 Hours

## Author
Ivan Navarro-Espinoza